$configs: (); // Inizializzazione variabile contentente le cofigurazioni

/**
 * Ritorna un valore di configurazione
 */
@function ap($config)
{
    @return map-deep-get($configs, explode($config, '.'));
}

/**
 * Informazioni sulla versione
 */
@function version()
{
    @return map-get($aloepups, 'version');
}


/**
 * Inizializzazione dell'applicazione
 */
@mixin aloepups()
{
    @if(not global-variable-exists(pupsConfigs)) {
        @debug "*****************************";
        @debug "* pupsConfigs dosn't exist. *";
        @debug "* Using default values.     *";
        @debug "*****************************";
        $pupsConfigs: () !global;
    }

    $configs: map-extend($configs, $pupsConfigs, true) !global;

    $aloepups: (
        author: 'Gennaro Bosone',
        email: 'gennaro.bs@gmail.com',
        version: '1.0.0',
        created_at: '2016-06-20',
        update_at: '2017-01-31'
    );
}

//////////////////////////////

/**
 * Aggiunge alla pagina web un elemento.
 * Se si utilizza la libreria aloepups.js,
 * verra creato un oggetto con le configurazioni di AloePups.
 */
@mixin appendConfigs()
{
    #__aloepups{ content: toJSON($configs); }
}
