$configs: map-extend($configs, (
    animation : (
        base_speed: normal,
        base_easing: linear,
        speeds: (
            normal: 1s
        ),
        easings: (
            linear: linear
        )
    ),
), true);
