/**
 * transition((
 *  property: transform, opacity, width
 *  duration: 1.2s,
 *  delay: 0s 1.2s 2.4s,
 *  easing: animation-easing(name) linear,
 * ), true)
 */
@mixin transition($options: (all), $will-change: null){
    @if(type-of($options) != map){
        $options: (property: $options);
    }

    $property:    implode(map-get($options, property), ',');
    $duration:    if(map-has-key($options, duration), implode(map-get($options, duration), ','), animation-speed());
    $delay:       if(map-has-key($options, delay),    implode(map-get($options, delay), ','), null);
    $easing:      if(map-has-key($options, easing),   implode(map-get($options, easing), ','), animation-easing());

    transition-property: $property;
    transition-duration: $duration;

    @if($delay != null){
        transition-delay: $delay;
    }
    @if($easing != null){
        transition-timing-function: $easing;
    }
    @if($will-change != null){
        will-change: $property;
    }
}